@use '../base/variables';
@use '../components/forms';
@use '../components/buttons';
@use '../base/utils';

.contacto-form {
    @extend %card-base;
    max-width: variables.$max-width;
    margin: 20px auto;
    background-color: variables.$color-secundario;
    padding: 20px;
    border-radius: variables.$radius-md;
    box-sizing: border-box;

    @include utils.card-hover(
        variables.$color-secundario,
        #fff,
        variables.$color-primario,
        1.02,
        2px solid rgba(0, 5, 161, 0.2)
    );

    input, textarea {
        &:focus {
            border-color: variables.$color-primario;
            box-shadow: 0 0 6px rgba(0, 5, 161, 0.2);
            outline: none;
        }
    }
}

.contacto-form h1 { 
    color: variables.$color-primario; 
    margin-bottom: variables.$spacing-sm; 
}

.contacto-form p { 
    margin-bottom: variables.$spacing-sm; 
    color: variables.$color-texto; 
}

.form-label { 
    font-weight: 700; 
    color: variables.$color-primario; 
    margin-bottom: .25rem; 
}

.btn-enviar {
    @extend %btn-base;
    align-self: flex-start; 
    @include utils.btn-hover(#fff, variables.$color-primario);
}
