@use '../../base/variables';
@use '../../components/buttons';
/* Hero Section */
.hero {
    background-image: url("../IMG/hero_section.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: variables.$spacing-lg;
    margin-top: variables.$spacing-md;
    display: flex;
    align-items: center;
    .hero-texto {
        background-color: #fff;
        padding: variables.$spacing-md;
        border-radius: variables.$radius-md;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        h1 {
            margin-bottom: 10px;
            color: variables.$color-terciario;
            font-weight: 600;
        }
        .hero-subtitle {
            color: variables.$color-primario;
            font-size: 20px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        p {
            margin-bottom: 25px;
            color: variables.$color-texto;
        }
        .boton-reservar {
            background-color: variables.$color-primario;
            &:hover {
                background-color: #fff;
                color: variables.$color-primario;
            }
        }
    }
}
