/*----LUGARES--*/
@use 'base/variables' as v;
@use 'components/cards';

.lugares {
    margin: 20px 0 40px;
    text-align: start;
    .titulo-seccion { 
        max-width: v.$max-width; margin: 0; color: v.$color-primario; 
    }
    .subtitulo-seccion { 
        max-width: v.$max-width; color: v.$color-texto; 
    }
    .card-lugares {
        @extend .card; /* from components */
        display: flex;
        gap: v.$spacing-md;
        align-items: stretch;
        padding: 0;
        overflow: hidden;
        border-radius: v.$radius-md;
        background-color: v.$color-secundario;
    }
    .img-lugares {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-lugares .col-md-3 { 
        max-width: 260px; flex: 0 0 260px; 
    }
    .card-lugares .col-md-9 { 
        flex: 1 1 auto;
        display:flex; flex-direction: column; 
        justify-content: space-between; 
        padding: 1rem; 
    }
    h3 { 
        color: v.$color-primario; 
        margin-bottom: 6px; 
    }
    .tipo { 
        font-style: italic; 
        color: v.$color-primario; 
        margin-bottom: 10px; 
    }
    .btn-reservar { 
        @extend .btn; 
        padding: 6px 14px; 
        margin-left: auto; 
    }
    .btn-reservar:hover { 
        background: #fff; 
        color: v.$color-primario; 
    }
}
