@use '../base/variables';
@use '../base/utils';

/* Botón base */
.btn {
    @extend %btn-base;
    display: inline-block;
    background-color: variables.$color-primario;
    color: #fff;
    padding: variables.$btn-padding;
    border-radius: variables.$radius-sm;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s ease, color 0.15s ease;
    border: none;
    cursor: pointer;

    @include utils.btn-hover(variables.$color-secundario, variables.$color-primario);
}
