/*Generales*/ 
@use './variables';
/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* layout base */
html, body {
    height: 100%;
    font-family: variables.$font-base;
    color: variables.$color-texto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* main crecer */
main { 
    flex: 1;
}

/* enlaces */
a { 
    text-decoration: none;
    color: variables.$color-primario;
}

/* headings */
h1 { 
    color: variables.$color-primario; 
    font-size: variables.$h1-size;
}
h2 { 
    font-size: variables.$h2-size;
}
h3 { 
    font-size: variables.$h3-size;
}
h4 { 
    font-size: variables.$h4-size;
}

/* imagenes */
img { 
    max-width: 100%;
    height: auto;
    display: block;
}