@use './variables';

/*-- media queries --*/

@media (max-width: variables.$bp-lg) {
	.footer .row > div { margin-bottom: 25px; }
	.footer .row > div:last-child { margin-bottom: 0; }
	
}

@media (max-width: variables.$bp-md) {
	.card-lugares { 
		flex-direction: column;
		border-radius: variables.$radius-md;
		overflow: hidden;
	}
	.img-lugares { 
		border-radius: variables.$radius-md variables.$radius-md 0 0;
	}
	.col-md-9 { 
		border-radius: 0 0 variables.$radius-md variables.$radius-md;
	}
	.selector-fecha {
		grid-template-columns: 1fr;
	}
	.carousel-item .col-12.col-md-4 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.carousel-control-prev {
		left: -30px;
	}
	.carousel-control-next {
		right: -30px;
	}
	.reserva-card { 
        padding: 12px; 
    }
}

@media (min-width: variables.$bp-md) {
	.acciones-reserva {
		flex-direction: row;
		justify-content: flex-start;
	}
	
}

